p {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 11px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#result {
  display: none;
}
.form-select {
  width: auto;
}
